streamlit
opencv-python-headless
gtts
bcrypt
Pillow
python-dotenv
nest-asyncio
getstream
ultralytics
vision-agents
vision-agents-plugins-getstream
vision-agents-plugins-gemini
vision-agents-plugins-ultralytics
