streamlit
opencv-python-headless
ultralytics
transformers
torch
torchvision
gtts
bcrypt
pillow
lapx
python-dotenv
google-genai
nest-asyncio
vision-agents
vision-agents-plugins-getstream
vision-agents-plugins-gemini
vision-agents-plugins-ultralytics
vision-agents-plugins-moondream
vision-agents-plugins-smart-turn
